.form {
    display: flex;
    flex-direction: column;
}

.inputSubmit {
    margin-top: 20px;
    background-color: rgb(194, 198, 236);
    padding: 5px;
    color: blue;
    border-color: blue;
}

.inputSubmit:hover {
    color: white;
    background-color: red;
}