.form {
    border: 5px solid rgb(113, 195, 233);
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.input__form:hover {
    border: 2px solid rgb(113, 195, 233);
}