.mainChatList {
    display: flex;
    flex-direction: column;
    border: 5px solid #1976d2;
    width: 300px;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.form_chatList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form_chatList button.MuiButtonBase-root {
    margin-top: 20px;
}

.chats_messages_block {
    display: flex;
}

.borderChatList {
    border: 5px solid #1976d2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.heading_title {
    color: blue;
}

.chatItem {
    display: flex;
    font-size: 22px;
    margin-top: 5px;
}

.deleteButton {
    margin-left: 10px;
    background-color: rgb(194, 198, 236);
    color: blue;
    border-color: blue;
}

.deleteButton:hover {
    color: white;
    background-color: red;
}