.message {
    font-size: 22px;
}

.message-block {
    display: flex;

}

.message-block button {
    margin-left: 10px;
    background-color: rgb(194, 198, 236);
    color: blue;
}

.message-block button:hover {
    color: white;
    background-color: red;
}